* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Inter, sans-serif;
    background-color: #FAFAF8;
}
.header {
  display: flex ;
  column-gap: 1em;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
  padding-top: 10px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
  background-color: rgb(255, 255, 255);
}
.header img{
  width: 100px;
}

form {
  margin-top: 70px;
  padding: 5px;
  align-items: center;
  display: flex;
  justify-content: center;
  
}
  
.ingredient-btn{
  background-color:black;
  color: white;
  padding: 8px;
  border-radius:7px;
  margin-left: 20px;
  width: 170px;
}

.input-field{
  max-width: 700px;
  height: 50px;
  

}
input{
  border: 1px solid rgb(184, 184, 184);
  border-radius:5px;
  padding: 9px 13px;
  flex-grow: 1;
}
